<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="head"  style="padding:0px;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a class="nav-link" href="#"> <i class="fab fa-facebook"></i><span class="sr-only">(current)</span></a>
      </li> <span class="trait"></span>
      <li class="nav-item">
        <a class="nav-link" href="#"> <i class="fab fa-twitter"></i></a>
      </li><span class="trait"></span>
      <li class="nav-item">
        <a class="nav-link" href="#"> <i class="fab fa-google-plus-square"></i></a>
      </li><span class="trait"></span>
      <li class="nav-item">
        <a class="nav-link" href="#"> <i class="fab fa-linkedin-in"></i></a>
      </li><span class="trait"></span>
      <li class="nav-item">
        <a class="nav-link" href="#"> <i class="fab fa-facebook"></i></a>
      </li><span class="trait"></span>
      <li class="nav-item">
        <a class="nav-link" href="#"> <i class="fab fa-youtube"></i></a>
      </li><span class="trait"></span>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fas fa-wifi" id="rotate"></i></a>
      </li><span class="trait"></span>
      
    </ul>
     <div id="right">
      <ul class="navbar-nav " >
      <span class="trait"></span>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          pages
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li><span class="trait"></span>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          categorie
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li><span class="trait"></span>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Depth
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li><span class="trait"></span>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Advanced
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li><span class="trait"></span>
      <li class="nav-item">
        <a class="nav-link" href="#"> Menu Description</a><span id="trait"></span>
      </li><span class="trait"></span>
    </ul>
     </div>
 
  </div>
</nav>

<app-hero-detail></app-hero-detail>
