<div class="container" style="margin-bottom: 60px;">
  <div class="card-deck" style="background-color:#eee; " >
      <div class="card">
        <div class="card-body">
         <h5 class="card-title" style="background-color: #000000;color: white;text-align:center; height: 60px; padding-top: 20px;" >Placeholder Image</h5>
          <h6>Perfect For All</h6>
         <p>Lorem ipsum dolor sit amet, consectetur<br/>voluptates nobis laborum, incidunt pariatur<br/> iusto molestiae, incidunt pariatu</p>
        </div>
       <p style="width: 50%;margin-left: 16px;"><button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg" style="position: center;" (click)="myFunction($event)">Read More</button></p>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title" style="background-color: #000000;color: white;text-align: center; height:60px; padding-top: 20px;">Placeholder Image</h5>
          <h6>100% Responsive</h6>
         <p>Lorem ipsum dolor sit amet, consectetur<br/>voluptates nobis laborum, incidunt pariatur<br/> iusto molestiae, incidunt pariatu</p>
        </div>
        <p style="width: 50%;margin-left: 16px;"><button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg" (click)="myFunction($event)">Read More</button></p>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title" style="background-color: #000000;color: white; text-align: center; height:60px; padding-top: 20px;">Placeholder Image</h5>
          <h6>Powerful FrameWork</h6>
          <p>Lorem ipsum dolor sit amet, consectetur<br/>voluptates nobis laborum, incidunt pariatur<br/> iusto molestiae, incidunt pariatu</p>
        </div>
         <p style="width: 50%;margin-left: 16px;"><button class="btn btn-primary"  (click)="myFunction($event)">Read More</button></p>
      </div>
  </div>
</div>
<app-card-view></app-card-view>
